extends layout

block content
    .container
        .row
            .col-xs-12
                each item in apps
                    a(href="/config/"+item)= item
        a(href="create/blabla") Create App

