extends layout

block content
    .container
        .row
            .col-xs-12
                table.table
                    tr
                        each item in apps
                            td=item
                            td
                                a(href="/config/"+item) Config
                            td
                                a(href="/edit/"+item) Edit
        a(href="create/blabla") Create App

